
/*
 * Fonts
 */

h1 {
	font-size: 1.9rem;
	font-family: 'Special Elite', cursive;
}

h2 {
	color: #3C1A11;
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

h3 {
	font-size: 1.3rem;
	font-family: 'Special Elite', cursive;
}

/*
 * Global
 */

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	line-height: 1.8rem;
}

a {
	color: #432b25;
	text-decoration: underline!important;
}

a:visted {
	text-decoration: underline!important;
}

.navbar	{
	background-color: #2f140d;
	/*background: url("../images/header-background.jpg") left no-repeat;*/
	/*background-size: cover;*/
}

.navbar-brand, .navbar-dark .navbar-nav .nav-link {
	color: white; /*#EEE8AA*/
	font-family: 'Special Elite', cursive;
	text-decoration: none;
}

.navbar-collapse a {
	color: white;
	text-decoration: none;
}

.navbar a:hover, #navbarResponsive a.active {
	color: #e5e5e5;
	text-decoration: underline;
}

.jump::before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
    pointer-events: none;
}

/*
 * Content
 */

section {
	padding: 1em 0;
}

section + section {
	border-top: 1px solid #432b25;
	padding-top: 2em;
}

.card {
	background-color: #f1dcd6;
}

.episode {
	display: block;
	font-weight: 600;
}

.ep-date {
	display: block;
	font-weight: 100;
	margin-bottom: 0.75em;
}

section.faq h3 {
	margin-top:1.5em;
}

.bingo li {
    margin-bottom: 1.3em;
}

.bingo-header {
	font-weight: 600;
}

section.about {
	padding-bottom: 3em;
}

footer	{
	background-color: #2f140d;
	padding: 1em 0;
}

footer a {
	color: white;
	text-decoration: none;
}

.social-media-list {
	list-style: none;
}

.social-media-list li {
    display: inline-block;
    margin-right: 1em;
    font-size: 180%;
}

/*
 * Instagram Link Tree
 */

body.insta {
	padding-top: 20px;
}

.insta .logo {
	display: block;
	max-width: 125px;
	padding-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

.insta h2 {
    font-size: 1.2rem;
    padding-bottom: 0;
  }

.insta a.btn-mid {
	color: white;
	background-color: #2f140d;
	text-decoration: none;
}

.insta a.btn-dark {
	text-decoration: none;
}



